body{
    margin-top:50px;
    /* background:#1f1f1f; */
	/* font-family: 'Share Tech Mono', monospace; */
}

/*
html, body{
  padding: 0;
  margin: 0;
}
*/

/*
html{
  height: 100%;
}
*/
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
      background-image: url('images/links-bg.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

body{
  min-height: 100%;
}

a:hover {
	color: #fff
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    /* background: linear-gradient(45deg,#4099ff,#73b4ff); */
	background: #00ded6;
}

.bg-c-green {
    /* background: linear-gradient(45deg,#2ed8b6,#59e0c5); */
	background: #00ded6;
}

.bg-c-yellow {
    /* background: linear-gradient(45deg,#FFB64D,#ffcb80); */
	background: #00ded6;
}

.bg-c-pink {
    /* background: linear-gradient(45deg,#FF5370,#ff869a); */
	background: #00ded6;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.m-b-20 {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 0px;
	text-align: center;
	/* text-transform: uppercase; */
	font-weight: bold;
}

a {
	text-decoration: none !important;
}

#clock {
    margin-bottom: 2.5rem;
	font-family: 'Share Tech Mono', monospace;
    text-align: center;
	text-shadow: 0 0 20px rgba(0, 222, 214, 1),  0 0 20px rgba(10, 175, 230, 0);
    left: 50%;
    top: 50%;
    color: #daf6ff;
}
.time {
	letter-spacing: 0.05em;
	font-size: 50px;
	padding: 5px 0;
}
.date {
	letter-spacing: 0.1em;
	font-size: 30px;
}
.text {
	letter-spacing: 0.1em;
	font-size: 15px;
	padding: 20px 0 0;
}